@import "fonts"; //подключает дополнительный файл scss

.rpwe-title {
	font-size: 14px !important;
	margin: 2px 0 0 0 !important;
}
.rpwe-title {
	font-size: 14px !important;
	margin: 2px 0 0 0 !important;
}
.site-footer{
	bottom: 10px;
	right: 10px;
	&-item{ //в случае с вложеным элементом .site-footer-item можно this использовать так
		right: 0;
		margin: 0;
	}
}
div{
	width: 100px;
	&:hover{// & это this
		margin: 20px;
    }
  

}
$peremenayaColor: grey; // переменные похожи как в php
@mixin name($argument) {//@mixin это типа создании функции 
	border-radius: $argument;
	margin: 10px;
	top: 10px;
}

.two{
	@include name(20px); //@include подключает функцию (mixin)
	@extend .site-footer; //@extend расширяет класс. Добавляет классу two свойства .site-footer
	//в css класс two просто добавляеться к классу .site-footer через запятую. как бы 2 класса имеют общие свойства
	bottom: 10px;
	margin: 0;
	padding: 0;
}



// @keyframes animate{//некоторые функции работают в keyframe
// 	to{
// 		random();
// 	} 
// 	@for $i from 1 through 5 {
// 		.definition-#{$i} { width: 10px * $i; }
// 	}
// }
