<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/lesson.css">
{{!-- Что интересно можно на каждый запрос менять путь к css тем самым иметь разный цвет body 
      но лучше в шаблоны передавать body и давать в каждом шаблоне класс для тега и стилизовать body  --}}
    <title>{{title}}</title>
</head>

    {{!-- {{> navigation}} --}}
    {{{body}}} 





</html>