<nav class="navigation">
    <div class="container">
        
        {{#link myHelpers}}
            {{#each page}}
                <a class="navigation__link" href="#">{{this}}</a>
            {{/each}}
        {{/link}}

    </div>
 </nav>
{{!--<p>{{obj/lin}}</p>  Обращаться к объекту можно через / но как по мне лучше так не делать смысла нет --}}


  