p:nth-child(2){
    margin: 0;
}

p:nth-of-type(2){
    margin: 0;
}

/*
    Есть некая разница между псевдоклассами :nth-child и :nth-of-type
    Я иногда путаюсь думая что нужно указывать этот псевдокласс родителю типо как во flexbox,
    на самом деле этот псевдокласс привязываеться к типу и ищет его по
    :nth-child
       1 Этот элемент — параграф;
       2 Это второй элемент одного родителя.
    :nth-of-type, означает:
        Выбрать второй параграф одного родителя.

    <section>
        <h1>Words</h1>
        <p>Little</p>  :nth-child сработает здесь
        <p>Piggy</p>    <!-- Нужен этот элемент --> :nth-of-type
    </section>
*/

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #16171D;
}
/*предположим что 2 div в одном продителе body*/
div{
    margin-left: 10px;
    color:tomato;
}
/*
    Что происходит. Баг или фича. Поидее мы указали 2м элементам сдвинуться на 10px
    сдвинеться только 2й. Из-за того что автоматиески стоит flex-direction: row;
    1й объект имеет фиксированое центрирование по лефому краю.
    Если перевести flex-direction: column; то фиксация будет сверху и если добавить обоим элементам
    margin-top: 10px; то сдвинеться только опять же нижний

*/



