*,
*:after,
*:before
{
    box-sizing: border-box !important;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,

abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { 
    box-sizing: border-box;
    list-style-type:none;
    border-style: none;
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    letter-spacing: 1px;
    vertical-align:baseline;
    background:transparent; 
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    letter-spacing: 1px;
    text-decoration: none;
    vertical-align:baseline;
    background:transparent;
    background-color: transparent;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,main {
    display:block;
}

blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}
hr {
    display:block;
    height:0;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
    box-sizing: content-box;
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    border-radius: 0;
    vertical-align:middle;
    font-family: inherit;
    font-size: 100%;
    letter-spacing: 1px;
    line-height: 1.15;
    margin: 0;
    text-transform: none;
    overflow: visible;
    padding: 0;
}

pre {
    font-family: monospace;
}

abbr[title],dfn[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
    cursor:help;
}

code,
kbd,
samp {
    font-family: monospace;
    font-size: 1em;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px; 
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit; 
}

summary {
    display: list-item;
}


