
body{
    background-color: #16171d;
    display: flex;
}
#ctx1{ 
    /*
    размеры канваса не устанавливают в css т.к. картинка начинает масштабироваться и неправильно
    отображать размеры свои размеры
    */
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
}
#ctx2{ 
    /*
    размеры канваса не устанавливают в css т.к. картинка начинает масштабироваться и неправильно
    отображать размеры свои размеры
    */
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
}