<div class="conteiner"> 
    <div class="lk">
        <img class="lk__img"  src="" alt="">

        <a class="lk__profil" href="">Профиль</a>
        <a class="lk__exit" href="">Выход</a>
    </div>
</div>
