<body class="body-lk">
    
</body>
<h1>{{{title}}}</h1>
<div class="container">
<a href="/">На гравную</a>
    <div class="wrap-auth">
         <form method="POST" enctype="multipart/form-data"> 
            <fieldset>
               <legend>Форма регистрации</legend>
              
                  <label for="name">Имя</label>
                  <p><input type="text" name="login" id="name"></p>
                        
                  <label for="surname">Фамилия</label>
                  <p><input type="text" name="password" id="surname"></p>
                  <p><input type="file" name="avatar" multiple="multiple" size="3"></p>
                  <input type="submit" value="Вход">
                
              </fieldset>
        </form>
    </div>
</div>


<p>{{lookup car 'Germany'}}</p>
